
#######################################################################
# Specific project folder

custom/*
!custom/README.md
!custom/bin/
custom/bin/*
!custom/bin/boot.sh.default
!custom/bin/c.default
!custom/bin/f.default


config/config.sh

.installed.list

#######################################################################
# OS

# Linux
*~


music

xmobarrc_mpd.sh
xmobarrc_bottom.symlink.old
